<mat-toolbar color="primary">
  Marvel App
</mat-toolbar>
<mat-card>
  <mat-card-title>Comic list</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-paginator [length]="length" (page)="pageEvent = getComics($event)" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card-div" *ngFor="let comic of comics">
        <mat-card class="comic-card">
          <mat-card-header>
            <mat-card-title>{{comic.title | slice:0:35}}...</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{comic.thumbnail.path}}/portrait_uncanny.{{comic.thumbnail.extension}}" />
          <mat-card-content></mat-card-content>
          <mat-card-actions>
            <button mat-button>DETAILS</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>


  </mat-card-content>
</mat-card>